<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

<!--
  rentals.js
    rental: model name
    return this.store.findAll('rental');
  get name from model rental.js
    .title, .owner, .category, .city, .bedrooms
  get list format from componen rental-listing.hbs
-->
{{#each model as |rentalUnit|}}
  <!-- rental-listing: component name -->
  {{rental-listing rental=rentalUnit}}
{{/each}}
